.header-public{
    display: flex;
    background-color: rgb(228, 88, 88);
    height: 300px;
    width: auto;
}

.img-logo{
    width: 300px;
    height: 300px;
    margin-left: 200px;
    margin-right: 100px;
}

.img-txt{
    width: 700px;
    height: 180px;
    margin-left: 150px;
    margin-right: 150px;
}

.btn-lgn{
    margin-left: 200px;
    margin-bottom: 200px;
    width: 250px;
}

.header-int{
    flex-direction: column;
    align-content: center;
    width: auto;
    height: auto;
}

