.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgb(228, 88, 88);
    border: solid 1px black;

}

.txt-menu{
    color: black;
    font-size: 20px;
}

.btn-cart{
    background-image: url('./src/assets/carrito-de-compras.png');
    background-size: cover;
    background-color: rgb(228, 88, 88);
    border: rgb(228, 88, 88);
    width: 30px;
    height: 30px;
}

.btn-user{
    background-image: url('./src/assets/user.png');
    background-size: cover;
    background-color: rgb(228, 88, 88);
    border: rgb(228, 88, 88);;
    width: 30px;
    height: 30px;
    margin-left: 20px;
}